.classeAtuação{
    padding: 30px 200px;
    margin: 20px 360px;
    font-size: x-large;
    font-weight: bold;
    font-family: 'arial';
    border-radius: 15px;
    background-color: #144A00;
    color: #ffffff;
    text-decoration: none;
    width: 600px;
}